<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sachin Tendulkar Records Analysis</title>
        <link rel="stylesheet" href="./libs/angular-material.min.css">
        <link rel="stylesheet" href="style.css">
        <script src="./libs/jquery.min.js"></script>
        <script src="./libs/angular.min.js"></script>
        <script src="./libs/angular-animate.min.js"></script>
        <script src="./libs/angular-aria.min.js"></script>
        <script src="./libs/angular-material.min.js"></script>
        <script src="https://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
        <script src="https://static.fusioncharts.com/code/latest/fusioncharts.charts.js"></script>
        <script src="https://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js"></script>
        <script src="./libs/chart.js"></script>
        <script src="./libs/fusionchart.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-app="myApp" ng-controller="firstController" ng-cloak ng-init="initialize()">
        <h3>Click on Any one of them to see the Result: </h3>
    <ul style="margin-top:50px;">
            <li ng-click="groundLostWon()">Ground won /lost Results </li>
        
            <li ng-click="WinInIndiaOrForeign()">Matches Winning Percentage in India or Foregin</li>

            <li ng-click="scoreWithWin()">Score in range and winning percentage</li>

            <li ng-click="wicketsDrawChart()">wickets Ticken by Sachin Tendular and Winning Percentage</li>

            <li ng-click="catchDrawChart()">Catch Taken BY sachin And Winning Percentage</li>

            <li ng-click="winPercentageAgainstOposstion()">Winning Percentage  Against different opposition</li>

            <li ng-click="runAndCountAgainstOpposition()">Number of times Run Scored Against oppotion</li>

            <li ng-click="battingAverageFunction()">Batting Average Against Opposition</li>

            <li ng-click="averageRunAtGround()">Batting Average On Different Grounds</li>

            <li ng-click="yearWiseRuns()">Total Numbers of run scored in each year Graph</li>

            <li ng-click="winLostPercentagrWithScoreRange()">Run Scored and on the scored run winning Percentage</li>

            <li ng-click="inningWonLost()">Innings Win Lost No Of Matches</li>
    </ul>
    </body>
</html>
